
{% extends 'base.html' %}
{% block content %}

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 hidden-sm hidden-xs">
            <img src="http://mt-class.org/jhu/assets/img/race.jpg" class="img-responsive img-rounded" alt="">
          </a> 
          <span class="text-muted"><i></i></span>
        </div>
        <div class="col-sm-8">
         
    <div class = "col-md-12">
    <div class='leaderboard'>
    <h2 style="text-align: center;padding: 6px;"><span>Leader Board</span></h2>
    <div class="content">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #46A29F;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Rank</th>
    <th>User</th>
    <th>Tasks Completed</th>
  </tr>
  <tr>
    <td>1</td>
    <td>admin</td>
    <td>7</td>
  </tr>
  <tr>
    <td>2</td>
    <td>akanksha</td>
    <td>5</td>
  </tr>
  <tr>
    <td>3</td>
    <td>ak2502</td>
    <td>4</td>
  </tr>
  <tr>
    <td>4</td>
    <td>userx</td>
    <td>4</td>
  </tr>
  <tr>
    <td>5</td>
    <td>user1</td>
    <td>2</td>
  </tr>
  <tr>
    <td>6</td>
    <td>user3</td>
    <td>0</td>
  </tr>
</table>

    </div>
    </div>
    </div>

        </div>
      </div>

  </body>
</html>

{% endblock %}